<div class="container">
  <div *ngFor="let user of usersList" class="user">
    <div class="userPersonalInfo">
      <p class="userName">Personal Info:</p>
      <p class="userName">{{user?.name}}</p>
      <p class="userUsername">{{user?.username}}</p>
      <p class="userEmail">{{user?.email}}</p>
      <p class="userPhone">{{user?.phone}}</p>
      <p class="userWebsite">{{user?.website}}</p>
    </div>
    <div class="userCompany">
      <p class="userCompanyTitle">Company Info:</p>
      <p class="userCompanyName">{{user?.company?.name}}</p>
      <p class="userCompanyCatchPhrase">{{user?.company?.catchPhrase}}</p>
      <p class="userCompanyBs">{{user?.company?.bs}}</p>
    </div>
    <div class="userAddress">
      <p class="userAddressTitle">Address Info:</p>
      <p class="userAddressStreet">{{user?.address?.street}}</p>
      <p class="userAddressSuite">{{user?.address?.suite}}</p>
      <p class="userAddressCity">{{user?.address?.city}}</p>
      <p class="userAddressZipcode">{{user?.address?.zipcode}}</p>
      <p class="userAddressGeoLat">{{user?.address?.geo?.lat}}</p>
      <p class="userAddressGeoLng">{{user?.address?.geo?.lng}}</p>
    </div>
  </div>
</div>
